body {
    background-color: #f7f7f7;
    margin: 0;
}

nav {
    display: flex;
    background-color: inherit;
    padding: 20px;
    font-size: 30px;
    color: red;

}

.timer {
    margin-left: auto;
}

.startbutton {
    font-size: 30px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 10px 35px;
    cursor: pointer;
}

.container {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap:5px;
}

.card {
    cursor:pointer;
    display:inline-block;
    text-align: center;
    font-size:10em;
    border-radius:4px;
    border:3px solid #e87e04;
    transition: all 0.3s linear;
}

button {
    padding: 10px 25px;
    border-radius: 3px;
    background-color: red;
}

.tilt:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red {
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/*******************************
PARTY POPPER
*******************************/
.party-popper {
  position: absolute;
  top: 80%;
  left: 20%;
}
.party-popper__emoji {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 1;
}
